.primary-button{
    background-color: #0b5ed7 !important;
    border-color: #0a58ca;
    color: #fff;
}
.full-width{
    width: 100%;
}

mat-dialog-content{
    overflow: hidden;
}

.example-section{
    display: flex;
}